# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
config/.env
.env

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Windows metadata
*:Zone.Identifier

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/
